<div class="section-title-container">
    <div class="section-title">Book</div>
    <div class="section-title-underline">
        <img src="assets/img/title-underline.svg">
    </div>
    <div class="section-subtitle"><perch:content type="textarea" size="xs" id="bookingformsubtitle" label="Booking Form Subtitle" /></div>
</div>

<div class="form-container">
    <div class="form">
        <div class="form-title">Booking Form</div>
        
        <div class="form-fields-container">
            
            <div class="form-input-container">
                <input type="text" class="form-input" placeholder="Full Name">
            </div>
            
            <div class="form-input-container">
                <input type="text" class="form-input" placeholder="Email">
            </div>
            
            <div class="form-input-container">
                <input type="text" class="form-input" placeholder="Phone">
            </div>
            
            <div class="form-input-container">
                <textarea rows="4" cols="50" class="form-input" placeholder="Message"></textarea>
            </div>
        
        </div>
        
        <div class="form-button-container">
            <div class="button button-purple">
                <div class="button-text button-text-white">Send</div>
            </div>
        </div>
    </div>
    
    <div class="form-leaning-icon-container"> 
        <img src="assets/img/leaning-icon.svg">
    </div>
    
    
</div>

