<div class="section-title-container">
    <div class="section-title">Contact Us</div>
    <div class="section-title-underline">
        <img src="assets/img/title-underline.svg">
    </div>
    <div class="section-subtitle"><perch:content type="textarea" size="xs" id="contactformsubtitle" label="Contact Form Subtitle" /></div>
</div>


<div class="form-container">
    <div class="form">
        <div class="form-title">Contact Form</div>
        <perch:form id="contact" method="post" app="perch_forms">
            <div class="form-fields-container">

                <div class="form-input-container">
                    <perch:input type="text" id="name" required="true" label="Name" class="form-input" placeholder="Full Name" />
                    <perch:error for="name" type="required">Please add your fullname</perch:error>
                </div>

                <div class="form-input-container">
                    <perch:input type="email" id="email" required="true" label="Email" class="form-input" placeholder="Email" />
                    <perch:error for="email" type="required">Please add your email address</perch:error>
                    <perch:error for="email" type="format">Please check your email address</perch:error>
                </div>

                <div class="form-input-container">
                    <input type="text" class="form-input" placeholder="Phone">
                </div>

                <div class="form-input-container">
                    <perch:input type="textarea" id="message" required="true" label="Message" rows="4" cols="50" class="form-input" placeholder="Message"/>
                    <perch:error for="message" type="required">Please add a message</perch:error>
                </div>

            </div>
            
            <div class="form-button-container">
                <perch:input type="submit" id="submit" class="button button-purple" value="Send" />
            </div>

            <perch:success>
                <perch:content id="success" type="textarea" label="Thank you message" textile="true" editor="markitup" />
            </perch:success>
        </perch:form>
        
        
    </div>
    
    <div class="form-leaning-icon-container"> 
        <img src="assets/img/leaning-icon.svg">
    </div>
    
    
</div>