<div class="section-title-container">
    <div class="section-title"><perch:content type="text" id="sectiontitle" label="Section Title" /></div>
    <div class="section-title-underline">
        <img src="assets/img/title-underline.svg">
    </div>
    <perch:if exists="sectionsubtitle">
        <div class="section-subtitle"><perch:content type="textarea" size="xs" id="sectionsubtitle" label="Section Subtitle" /></div>
    </perch:if>
</div>

<div class="contact-container">
    <div class="contact-item phone-item">
        <div class="contact-item-icon-container">
            <img class="contact-item-icon" src="assets/img/phone-icon.svg">
        </div>
        <div class="contact-item-desc">Phone</div>
        <a href="tel:<perch:content type="text" id="phonenumber" label="Phone Number" />" class="contact-item-text container-title"><perch:content type="text" id="phonenumber" label="Phone Number" /></a>
    </div>
    
    <div class="contact-item email-item">
        <div class="contact-item-icon-container">
            <img class="contact-item-icon" src="assets/img/email-icon.svg">
        </div>
        <div class="contact-item-desc">Email</div>
        <a href="mailto:<perch:content type="text" id="emailaddress" label="Email Address" />" class="contact-item-text container-title"><perch:content type="text" id="emailaddress" label="Email Address" /></a>
    </div>
    
    <div class="contact-item location-item">
        <div class="contact-item-icon-container">
            <img class="contact-item-icon" src="assets/img/map-icon.svg">
        </div>
        <div class="contact-item-desc">Location</div>
        <div class="contact-item-text container-title"><perch:content type="text" id="location" label="Location" /></div>
    </div>
</div>