<div class="home-header-container page-header-container">
    <div class="home-header-background page-header-background"></div>    
    
    <div class="home-header-content header-content">

        <div class="header-word-background">
            <div class="header-background-word">Well Being</div>
            <div class="header-background-word">Powerful Thinking</div>
            <div class="header-background-word">Self Management </div>
            <div class="header-background-word">Resilience</div>
            <div class="header-background-word">Communication</div>
            <div class="header-background-word">Personal Effectiveness</div>
        </div>
        
        <div class="home-header-top-logos-container">
            <div class="feel-better-logo-container">
                <img src="assets/img/feel-better-logo-white-shadow.svg">
            </div>
            <div class="act-better-logo-container">
                <img src="assets/img/act-better-logo-white-shadow.svg">
            </div>
        </div>

        
        <div class="home-header-logo-container">
            <img src="assets/img/think-better-logo-white-shadow.svg">
        </div>

        <div class="home-header-subtitle header-subtitle">
            <div class="header-subtitle-line-one"><perch:content type="text" id="taglineone" label="Tag Line (1)" help="First line of header tag line" /></div>
            <div class="header-subtitle-line-two"><perch:content type="text" id="taglinetwo" label="Tag Line (2)" help="Second line of header tag line" /></div>
        </div>
        
        <div class="home-header-video-container header-video-container">
            <a id="home-header-video" class="home-header-button button-white circle-button" href="#header-video" class="open-popup-link">
                    <img class="header-play-icon" src="assets/img/play-icon.svg">  
            </a>
         <div class="header-video-title"><perch:content type="text" id="videotitle" label="Video Title" /></div>
        </div>
        <a class="header-scroll-down-container" href="#page">
            <div class="header-scroll-down-text">View More</div>
            <img src="assets/img/down-arrow-icon.svg">
        </a>
    </div>
</div>

<div id="header-video" class="popup-container mfp-hide">
    <div class="fb-video" data-href="<perch:content id="urlheadervideo" type="text" label="URL for Facebook video" help="On facebook, right click on a video and select 'show video url', then paste it here "/>" data-width="800" data-allowfullscreen="true"></div>
</div>