<div class="subtle-section-title"><perch:content type="text" id="minisectiontitle" label="Section Title" /></div> 

<perch:blocks>
  <perch:block type="text" label="New Small Paragraph">
    <div class="mini-paragraph-container">
        <div class="mini-paragraph-title"><perch:content type="text" id="smallparatitle" label="Small Paragraph Title" /></div>
        <div class="mini-paragraph"><perch:content type="textarea" size="s" id="smallparagraph" label="Small Paragraph" /></div>
    </div>
  </perch:block>
</perch:blocks>