<div class="section-title-container">
    <div class="section-title"><perch:content type="text" id="sectiontitle" label="Section Title" /></div>
    <div class="section-title-underline">
        <img src="assets/img/title-underline.svg">
    </div>
    <perch:if exists="sectionsubtitle">
        <div class="section-subtitle"><perch:content type="textarea" size="xs" id="sectionsubtitle" label="Section Subtitle" /></div>
    </perch:if>
</div>

<div class="mini-paragraphs-container">
    <perch:blocks>
      <perch:block type="text" label="New Activity">
        <div class="mini-paragraph-container">
            <div class="mini-paragraph-title mini-paragraph-title-category-icons">
                <perch:content type="text" id="smallparatitle" label="The Day Activity Title" />
                <div class="category-icons-container">
                    
                    <perch:content id="thinkbettericon" type="checkbox" label="Think Better" value=""/>
                    <perch:if exists="thinkbettericon">
                        <img src="assets/img/think-better-icon.svg">
                    </perch:if>
                    
                    <perch:content id="feelbettericon" type="checkbox" label="Feel Better" value=""/>
                    <perch:if exists="feelbettericon">
                        <img src="assets/img/feel-better-icon.svg">
                    </perch:if>

                    <perch:content id="actbettericon" type="checkbox" label="Act Better" value=""/>
                    <perch:if exists="actbettericon">
                        <img src="assets/img/think-better-icon.svg">
                    </perch:if>
                    
                </div>
            </div>
            <div class="mini-paragraph"><perch:content type="textarea" size="s" id="smallparagraph" label="Activity Description" /></div>
        </div>
      </perch:block>
    </perch:blocks>
</div>