<div class="section-title-container">
    <div class="section-title"><perch:content type="text" id="sectiontitle" label="Section Title" /></div>
    <div class="section-title-underline">
        <img src="assets/img/title-underline.svg">
    </div>
    <perch:if exists="sectionsubtitle">
        <div class="section-subtitle"><perch:content type="textarea" id="sectionsubtitle" label="Section Subtitle" /></div>
    </perch:if>
</div>

<div class="better-points-container owl-carousel owl-theme">

    <div class="better-points-item-container think-better-point">
        <div class="better-points-item-icon-container">
            <img class="better-points-item-icon" src="assets/img/think-better-icon.svg">
            <img class="better-points-item-background" src="assets/img/think-better-icon-background.svg">
        </div>
        
        <div class="better-points-item-title container-title">Think Better</div>
        <div class="better-points-item-text text"><perch:content type="textarea" id="thinkbettertext" label="Think Better Desciption" /></div>
    </div>
    
     <div class="better-points-item-container feel-better-point">
        
       <div class="better-points-item-icon-container">
            <img class="better-points-item-icon" src="assets/img/feel-better-icon.svg">
            <img class="better-points-item-background" src="assets/img/feel-better-icon-background.svg">
        </div>
        
        
        <div class="better-points-item-title container-title">Feel Better</div>
        <div class="better-points-item-text text"><perch:content type="textarea" id="feelbettertext" label="Feel Better Desciption" /></div>
    </div>
    
     <div class="better-points-item-container act-better-point">
        
        <div class="better-points-item-icon-container">
            <img class="better-points-item-icon" src="assets/img/act-better-icon.svg">
            <img class="better-points-item-background" src="assets/img/act-better-icon-background.svg">
        </div>
        
        <div class="better-points-item-title container-title">Act Better</div>
        <div class="better-points-item-text text"><perch:content type="textarea" id="actbettertext" label="Act Better Desciption" /></div>
    </div>

</div>