.button{
    padding: 5px 15px;
    border-radius: 3px;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 20px;
    &.button-white{
        background: white;
    }
    
    &.button-purple{
        background: @purple;
    }
    
    .button-text-purple{
        color: @purple;
    }
    
    .button-text-white{
        color: white;
    }
    
    &:hover{
        cursor: pointer;
    }
}

.button-white{
        background: white;
    }

.circle-button{
    .flex();
    .justify-content(center);
    .align-items(center);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-height: 40px;
    margin: 0;
    .flex-position(1);
    .header-play-icon {
        margin-left: 4px;
    }
    
    &:focus{
        outline: none;
    }
}

@media (max-width: 1280px){

}

@media (max-width: 1024px){ 

}

@media (max-width: 992px){ 

}

@media (max-width: 768px){
    .button{
        font-size: 18px;
    }
}

@media (max-width: 480px){ 
    .button{
        padding: 3px 15px;
        font-size: 18px;
    }
}

@media (max-width:320px){ 

}