.contact-container{
    .flex();
    .justify-content(space-around);
    width: 100%;
    
    .contact-item {
        .flex();
        .flex-direction(column);
        .justify-content(center);
        .align-items(center);
        .flex-position(1);
        text-align: center;
        
        .contact-item-icon-container{
            .flex();
            .justify-content(center);
            .align-items(center);
            width: 42px;
            min-height: 79px;
            .contact-item-icon{
                width: 100%;
            }
        }
        
        .contact-item-desc{
            .amatic-font();
            color: @purple;
            font-size: 24px;
            margin: 10px 0px 0px;
        }
        
        a{
            text-decoration: none;
        }
    }   
}

.contact-item.email-item{
    .contact-item-icon-container .contact-item-icon{
        width: 54px;
    }
}

.contact-item.location-item{
    .contact-item-icon-container .contact-item-icon{
        width: 50px;
    }
}

@media (max-width: 1280px){

}

@media (max-width: 1024px){ 

}

@media (max-width: 992px){ 

}

@media (max-width: 768px){
     .contact-container{
        .flex-direction(column);
         .contact-item {
             margin: 25px 0;
         }
    }
}

@media (max-width: 480px){ 

}

@media (max-width:320px){ 

}