.footer-container{
    background: linear-gradient(@purple2, @purple);
    background: @purple;
    border-top: 35px solid @purple-border;
    box-shadow: 1px 2px 5px 4px rgba(0, 0, 0, 0.15);
}

.footer-content{
    padding-top: 25px;
    padding-bottom: 25px;
    .flex();
    .justify-content(space-between);
    overflow: hidden;
}

.footer-section-title{
    color: white;
    .amatic-font();
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-section-item{
    color: white;
    font-size: 20px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 2px 0;
}

.footer-section{
    flex: 1;
    
    &.footer-socials-section{
        text-align: center;
        .footer-social-icons-container {
            .flex();
            .justify-content(center);
            margin-top: 15px;
            .footer-social-icon {
                width: 55px;
                height: 49px;
                margin: 0 20px;
            }
            
        }
    }
    
    &.footer-copyright-section{
        .flex();
        .justify-content(flex-end);
        .align-items(flex-end);
    }
    
}