.form-input-text(){
    color: @purple;
    font-weight: 700;
}

.form-container {
    position: relative; 
    .flex();
    .justify-content(center);
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 100px 60px;
    background: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    
    .form{
        .flex();
        .flex-direction(column);
        .align-items(center);
        width: 100%;
    }

    .form-title{
        .amatic-font();
        font-size: 38px;
        .form-input-text();
        margin-bottom: 40px;
    }

    .form-fields-container{
        width: 100%;
    }

    .form-input-container {
        width: 100%;
        padding: 10px 0;
        .form-input{
            .amatic-font();
            font-size: 24px;
            font-weight: 700;
            padding: 2px 0px;
            display: block;
            width: 100%;
            border: none;
            border-radius: 0px;
            border-bottom: 2px solid @purple;
            color: @purple;
            resize: none;
        }
    }
    
    .form-button-container {
        margin-top: 40px;
        .flex();
        .justify-content(center);
    }
}

.form-leaning-icon-container {
    position: absolute;
    width: 200px;
    right: -200px;
    bottom: 0;
}

.form-response-container.container-title {
    min-height: 380px;
    .flex();
    .justify-content(center);
    .align-items(center);
    text-align: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: @purple !important;
}

@media (max-width: 1280px){
   .form-container {
       max-width: 500px;
       padding: 40px 60px 60px;
    }
}

@media (max-width: 1024px){ 

}

@media (max-width: 992px){ 
    
    .form-container {
       max-width: 400px;
       padding: 40px 60px 60px;
    }
    
     .form-leaning-icon-container {
        width: 150px;
        right: -150px;
    }
    
}

@media (max-width: 768px){
     .form-container {
         padding: 40px 60px 60px;
    }
    
    .form-leaning-icon-container {
        display: none;
    }
}

@media (max-width: 480px){ 
    .form-container {
         padding: 30px 40px 40px;
        .form-title{
            margin-bottom: 20px;
        }

        .form-button-container {
            margin-top: 20px;
        }
    }
    
}

@media (max-width:320px){ 

}










.form-input:-ms-input-placeholder { /* IE 10+ */
    .form-input-text();
}
.form-input:-moz-placeholder { /* Firefox 18- */
    .form-input-text();
}

.form-input::-moz-placeholder{
    .form-input-text();
}

.form-input::-webkit-input-placeholder{
    .form-input-text();
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

