@logo-width: 135px;
@logo-width-mobile: 110px;

.outer-nav-bar{
    background: @purple;
}

.nav-bar{
    .flex();
    .justify-content(space-between);
    .align-items(center);
    font-family: 'Amatic SC', cursive;
}

.nav-bar-logo-container{
    width: @logo-width;
    padding: 8px 0;
}

.nav-bar-items-container{
    .flex();
    position: relative;
    margin: auto;
    left: calc((@logo-width/2) * -1);

    .nav-item{
        color: white;
        font-size: 24px;
        margin-left: 50px;
        font-weight: 700;
        padding: 28px 0;
        cursor: pointer;
        &:hover{
            color: rgb(230, 189, 242);   
        }
    }
    
    .nav-item-dropdown{
        padding-right: 8px;
        .nav-item-dropdown-text:after {
            content: "";
            position: relative;
            top: 18px;
            right: -8px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 5px solid #f2f2f2;
        }
        .nav-item-dropdown-container {
            position: absolute;
            background: @purple;
            padding: 0px 5px;
            margin-top: 28px;
            margin-left: -84px;
            box-shadow: 1px 0px 5px rgba(101, 40, 119, 0.4);
            height: 0;
            z-index: -1;
            transition: all 0.25s;
            border: 1px solid white;
            overflow: hidden;
            .nav-item-dropdown-item{
                padding: 10px 10px;
                text-align: center;
                border-top: 1px solid white;
                font-size: 22px;
                font-weight: 500;
                color: white;
                letter-spacing: 0.5px;
                &:first-child{
                    border-top: none;
                }
                &:hover{
                    color: rgb(230, 189, 242);  
                }
            }
        }
        &:hover{
            .nav-item-dropdown-text:after{
                border-top: 5px solid rgb(230, 189, 242);   
            }
            
            .nav-item-dropdown-container{
                height: 200px;
                z-index: 1;
            }
        }
    }
}

.mobile-menu{
    display: none;
}

@media (max-width: 1280px){

}

@media (max-width: 1024px){ 

}

@media (max-width: 992px){ 
    .nav-bar-items-container{
        left: auto;
        margin: 0;
    }
}

@media (max-width: 768px){
    .desktop-menu{
        display: none;
    }
    
    .mobile-menu{
        display: block;
    }
    
    .bar {
        position: relative;
        background: white;
        
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 8px;
            background: white;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 8px;
            background: white;
        }
    }
    
    .bar, .bar:after, .bar:before {
        width: 20px;
        height: 3px;
        border-radius: 1px;
    }
}

@media (max-width: 480px){ 

    .nav-bar-logo-container{
        width: @logo-width-mobile;
    }
}

@media (max-width:320px){ 

}

h1{
    margin: 0;
}