.section-title{
    .amatic-font();
    color: @purple;
    font-size: 42px;
    font-weight: 700;
}

.section-title-white{
    color: white;
}

.section-subtitle{
    .open-sans-font();
    font-size: 18px;
}

.paragraph-title{
    .amatic-font();
    font-size: 36px;
    font-weight: 700;
    color:@purple;
}

.paragraph{
    font-size: 20px;
}

.mini-paragraph-title{
    .amatic-font();
    font-size: 28px;
    font-weight: 700;
    color:@purple;
}

.mini-paragraph{
    font-size: 18px;
}

.subtle-section-title{
    .amatic-font();
    font-size: 36px;
    font-weight: 700;
    color:@purple;
}

.container-title{
    .amatic-font();
    font-size: 28px;
    font-weight: 700;
    color:@purple;
}

.text{
    font-size: 16px;
}

.text-bold{
    font-weight: 700;
}

@media (max-width: 1280px){

}

@media (max-width: 1024px){ 

}

@media (max-width: 992px){ 

}

@media (max-width: 768px){
   
}

@media (max-width: 480px){ 
    
}

@media (max-width:320px){ 

}