@purple: #652877;
@purple2: #7E3195;
@light-purple: #FDFBFD;
@light-purple2: #FBF8FB;

@green: #59B947;
@orange: #EF7B21;


@purple-border: #d0bed6;

.amatic-font{
    font-family: 'Amatic SC', cursive;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.open-sans-font{
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

