body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body div {
  box-sizing: border-box;
}
.nav-footer-content {
  padding: 0 50px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.section:last-child {
  padding-bottom: 50px;
}
.content {
  padding: 40px 90px 100px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.subtle-purple-section {
  background: linear-gradient(#FBF8FB, #FDFBFD);
}
.purple-section {
  background: linear-gradient(#7E3195, #652877);
}
.section-title-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px 60px;
}
.section-title-container .section-title {
  padding-bottom: 10px;
}
.section-title-container .section-title-underline {
  width: 100px;
  height: 22px;
}
.section-title-container .section-title-underline img {
  height: 17px;
}
.section-title-container .section-subtitle {
  padding-top: 10px;
}
.paragraph-container {
  margin-bottom: 50px;
}
.paragraph-container:last-child {
  margin-bottom: 0px;
}
.paragraph-container .paragraph-title {
  margin-bottom: 10px;
}
.mini-paragraphs-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mini-paragraphs-container .mini-paragraph-container {
  margin-bottom: 50px;
  -webkit-box-flex: 0 0 50%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 0 0 50%;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 0 0 50%;
  /* IE 10 */
}
.mini-paragraphs-container .mini-paragraph-container:nth-child(odd) {
  padding-right: 30px;
}
.mini-paragraphs-container .mini-paragraph-container:nth-child(even) {
  padding-left: 30px;
}
.mini-paragraphs-container .mini-paragraph-container:last-child,
.mini-paragraphs-container .mini-paragraph-container:nth-last-child(2) {
  margin-bottom: 0px;
}
.mini-paragraphs-container .mini-paragraph-container .mini-paragraph-title {
  margin-bottom: 10px;
}
.subtle-section-title {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .content {
    padding: 30px 60px;
  }
}
@media (max-width: 768px) {
  .nav-footer-content {
    padding: 0 30px;
  }
  .content {
    padding: 30px 40px;
  }
  .section-title-container {
    padding: 0 20px 40px;
  }
  .section-title-container .section-title {
    padding-bottom: 0px;
  }
  .section-title-container .section-title-underline {
    width: 45px;
    padding-bottom: 20px;
  }
  .section-title-container .section-title-underline img {
    width: 50px;
  }
  .mini-paragraphs-container .mini-paragraph-container {
    margin-bottom: 30px;
    -webkit-box-flex: 0 0 100%;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 0 0 100%;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 0 0 100%;
    /* IE 10 */
  }
  .mini-paragraphs-container .mini-paragraph-container:nth-child(odd) {
    padding-right: 0px;
  }
  .mini-paragraphs-container .mini-paragraph-container:nth-child(even) {
    padding-left: 0px;
  }
  .mini-paragraphs-container .mini-paragraph-container:nth-last-child(2) {
    margin-bottom: 30px;
  }
  .mini-paragraphs-container .mini-paragraph-container:last-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 480px) {
  .nav-footer-content {
    padding: 0 25px;
  }
  .content {
    padding: 40px 30px;
  }
  .section-title-container {
    padding: 0px 10px 40px;
  }
}
.outer-nav-bar {
  background: #652877;
  position: relative;
  z-index: 2;
  position: fixed;
  width: 100%;
}
.nav-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  height: 86px;
}
.nav-bar-logo-container {
  width: 135px;
  padding: 8px 0;
}
.nav-bar-items-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto;
  left: calc(-67.5px);
}
.nav-bar-items-container .nav-item {
  color: white;
  font-size: 24px;
  margin: 0 25px;
  font-weight: 700;
  padding: 28px 0;
  cursor: pointer;
  text-decoration: none;
}
.nav-bar-items-container .nav-item:hover {
  color: #e6bdf2;
}
.nav-bar-items-container .nav-item-dropdown {
  padding-right: 8px;
}
.nav-bar-items-container .nav-item-dropdown .nav-item-dropdown-text:after {
  content: "";
  position: relative;
  top: 18px;
  right: -8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #f2f2f2;
}
.nav-bar-items-container .nav-item-dropdown .nav-item-dropdown-container {
  position: absolute;
  background: #652877;
  padding: 0px 5px;
  margin-top: 26px;
  margin-left: -84px;
  box-shadow: 1px 0px 5px rgba(101, 40, 119, 0.4);
  height: 0;
  z-index: -1;
  transition: all 0.25s;
  border: 1px solid #652877;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.nav-bar-items-container .nav-item-dropdown .nav-item-dropdown-container .nav-item-dropdown-item {
  padding: 10px 10px;
  text-align: center;
  border-top: 1px solid white;
  font-size: 22px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.nav-bar-items-container .nav-item-dropdown .nav-item-dropdown-container .nav-item-dropdown-item:first-child {
  border-top: none;
}
.nav-bar-items-container .nav-item-dropdown .nav-item-dropdown-container .nav-item-dropdown-item:hover {
  color: #e6bdf2;
}
.nav-bar-items-container .nav-item-dropdown:hover .nav-item-dropdown-text:after {
  border-top: 5px solid #e6bdf2;
}
.nav-bar-items-container .nav-item-dropdown:hover .nav-item-dropdown-container {
  height: 200px;
  z-index: 1;
  border: 1px solid white;
  margin-top: 28px;
}
.mobile-menu {
  display: none;
}
@media (max-width: 992px) {
  .nav-bar-items-container {
    left: auto;
    margin: 0;
  }
  .nav-bar-items-container .nav-item {
    margin: 0 0 0 50px;
  }
}
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
    height: 18px;
  }
  .mobile-menu .nav-item-dropdown-container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .mobile-menu .nav-item-dropdown-container .nav-item-dropdown-item {
    text-decoration: none;
  }
  .mobile-menu-button .bar {
    position: relative;
    background: white;
    top: 0px;
  }
  .mobile-menu-button .bar:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    background: white;
  }
  .mobile-menu-button .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    background: white;
  }
  .mobile-menu-button .bar,
  .mobile-menu-button .bar:after,
  .mobile-menu-button .bar:before {
    width: 20px;
    height: 3px;
    border-radius: 1px;
  }
  .mobile-menu-container {
    position: absolute;
    top: 86px;
    left: 0;
    width: 100%;
    height: 0;
    background: #652877;
    padding: 0px 50px;
    color: white;
    overflow: hidden;
    transition: all 0.25s;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .mobile-menu-container.open {
    height: 100vh;
  }
  .mobile-menu-container .nav-item {
    border-top: 1px solid white;
    font-size: 28px;
    padding: 10px;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
  .mobile-menu-container .nav-item-dropdown-item {
    border-top: 1px solid white;
    padding: 10px 0px 10px 20px;
    font-size: 24px;
    font-weight: 600;
  }
}
@media (max-width: 480px) {
  .nav-bar {
    height: 74px;
  }
  .nav-bar-logo-container {
    width: 100px;
  }
  .mobile-menu-container {
    top: 74px;
    padding: 0px 25px;
  }
}
.hello {
  color: red;
}
.page-header-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.home-header-container {
  height: 100vh;
  max-height: 700px;
}
.general-header-container {
  height: 600px;
}
.page-header-background {
  background: linear-gradient(#7E3195, #652877);
  position: absolute;
  z-index: 1;
  width: 200%;
  height: 1200px;
  bottom: 10px;
  left: -50%;
  border-radius: 0 0 100% 100%;
  border: 50px solid #d0bed6;
  box-shadow: 1px 2px 5px 4px rgba(0, 0, 0, 0.15);
}
.header-word-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header-word-background .header-background-word {
  position: absolute;
  font-size: 18px;
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: white;
  opacity: 0.75;
}
.header-word-background .header-background-word:nth-child(1) {
  top: 35%;
  left: 10%;
  -ms-transform: rotate(10deg);
  /* IE 9 */
  -webkit-transform: rotate(10deg);
  /* Chrome, Safari, Opera */
  transform: rotate(10deg);
}
.header-word-background .header-background-word:nth-child(2) {
  top: 50%;
  left: 20%;
  -ms-transform: rotate(-15deg);
  /* IE 9 */
  -webkit-transform: rotate(-15deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-15deg);
}
.header-word-background .header-background-word:nth-child(3) {
  top: 75%;
  left: 12%;
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
}
.header-word-background .header-background-word:nth-child(4) {
  top: 25%;
  right: 15%;
  -ms-transform: rotate(5deg);
  /* IE 9 */
  -webkit-transform: rotate(5deg);
  /* Chrome, Safari, Opera */
  transform: rotate(5deg);
}
.header-word-background .header-background-word:nth-child(5) {
  top: 50%;
  right: 22.5%;
  -ms-transform: rotate(-10deg);
  /* IE 9 */
  -webkit-transform: rotate(-10deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-10deg);
}
.header-word-background .header-background-word:nth-child(6) {
  top: 72.5%;
  right: 17.5%;
  -ms-transform: rotate(20deg);
  /* IE 9 */
  -webkit-transform: rotate(20deg);
  /* Chrome, Safari, Opera */
  transform: rotate(20deg);
}
.header-content {
  height: calc(100% - 86px - 50px - 10px);
  top: 86px;
  position: relative;
  z-index: 1;
  max-width: 1440px;
  margin: 0 auto;
}
.header-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.header-content .home-header-logo-container {
  width: 340px;
  height: 250px;
}
.header-content .home-header-top-logos-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 10px;
  width: 600px;
}
.header-content .home-header-top-logos-container .feel-better-logo-container {
  width: 120px;
  height: 120px;
}
.header-content .home-header-top-logos-container .act-better-logo-container {
  width: 110px;
  height: 110px;
}
.header-subtitle {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: white;
}
.header-subtitle .header-subtitle-line-one {
  margin-right: 50px;
}
.header-subtitle.home-header-subtitle {
  font-size: 28px;
}
.header-subtitle.general-header-subtitle {
  font-size: 28px;
}
.header-subtitle .header-subtitle-line-two {
  text-align: right;
}
.home-header-subtitle {
  -webkit-box-flex: 1 0 auto;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1 0 auto;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1 0 auto;
  /* IE 10 */
}
.home-header-button {
  margin: 35px 0px;
}
.general-header-title-container {
  max-width: 700px;
  text-align: center;
  margin-bottom: 10px;
}
.general-header-title-container .general-header-title {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: white;
  font-weight: 700;
  font-size: 84px;
  text-shadow: 5px 3px rgba(0, 0, 0, 0.15);
}
.header-video-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.header-video-container .header-video-title {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 18px;
  margin-top: 5px;
  color: white;
}
.home-header-video-container {
  -webkit-box-flex: 1 0 auto;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1 0 auto;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1 0 auto;
  /* IE 10 */
  margin: 30px 0px 20px 0px;
}
.general-header-video-container {
  margin: 25px 0px 0px 0px;
}
.header-scroll-down-container {
  position: absolute;
  bottom: -45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.header-scroll-down-container .header-scroll-down-text {
  color: #652877;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.popup-container {
  position: relative;
  padding: 40px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}
.mfp-close-btn-in .mfp-close {
  color: #fff !important;
}
.mfp-container {
  background: rgba(0, 0, 0, 0.4);
}
@media (max-width: 992px) {
  .general-header-title-container {
    max-width: 600px;
  }
  .general-header-title-container .general-header-title {
    font-size: 84px;
  }
  .header-word-background .header-background-word:nth-child(1) {
    left: 7.5%;
  }
  .header-word-background .header-background-word:nth-child(2) {
    left: 17.5%;
  }
  .header-word-background .header-background-word:nth-child(3) {
    top: 67.5%;
    left: 9%;
  }
  .header-word-background .header-background-word:nth-child(4) {
    top: 35%;
    right: 10%;
  }
  .header-word-background .header-background-word:nth-child(5) {
    top: 50%;
    right: 15%;
  }
  .header-word-background .header-background-word:nth-child(6) {
    top: 70%;
    right: 10%;
  }
}
@media (max-width: 768px) {
  .general-header-title-container {
    max-width: 340px;
  }
  .general-header-title-container .general-header-title {
    font-size: 54px;
  }
  .page-header-background {
    height: 800px;
  }
  .header-subtitle.home-header-subtitle {
    font-size: 20px;
  }
  .header-subtitle.general-header-subtitle {
    font-size: 20px;
  }
  .home-header-subtitle {
    -webkit-box-flex: 0 0 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 0 0 auto;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 0 0 auto;
    /* IE 10 */
  }
  .home-header-container {
    height: 600px;
  }
  .general-header-container {
    height: 500px;
  }
  .home-header-content .home-header-top-logos-container {
    display: none;
  }
  .header-word-background .header-background-word {
    font-size: 14px;
  }
  .header-word-background .header-background-word:nth-child(1) {
    top: 10%;
    left: 5%;
  }
  .header-word-background .header-background-word:nth-child(2) {
    top: 35%;
    left: 4.5%;
  }
  .header-word-background .header-background-word:nth-child(3) {
    top: 57.5%;
    left: 5%;
  }
  .header-word-background .header-background-word:nth-child(4) {
    top: 7.5%;
    right: 10%;
  }
  .header-word-background .header-background-word:nth-child(5) {
    top: 30%;
    right: 5%;
  }
  .header-word-background .header-background-word:nth-child(6) {
    top: 57.5%;
    right: 7.5%;
  }
  .home-header-video-container {
    -webkit-box-flex: 0 0 auto;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 0 0 auto;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 0 0 auto;
    /* IE 10 */
  }
  .general-header-video-container {
    margin: 20px 0px 0px 0px;
  }
}
@media (max-width: 480px) {
  .page-header-background {
    height: 600px;
  }
  .header-content {
    height: calc(100% - 74px - 50px - 10px);
    top: 74px;
  }
  .general-header-title-container .general-header-title {
    font-weight: 700;
    text-shadow: 3px 1px rgba(0, 0, 0, 0.15);
  }
  .header-subtitle {
    font-weight: 700;
    font-size: 18px;
  }
  .header-subtitle .header-subtitle-line-one {
    margin-right: 25px;
  }
  .home-header-container {
    height: 460px;
  }
  .general-header-container {
    height: 480px;
  }
  .home-header-content .home-header-logo-container {
    width: 200px;
    height: 165.25px;
    margin-top: 20px;
  }
  .header-word-background .header-background-word {
    font-size: 12px;
  }
  .header-word-background .header-background-word:nth-child(1) {
    top: 3%;
    left: 5%;
  }
  .header-word-background .header-background-word:nth-child(2) {
    top: 50%;
    left: 4.5%;
  }
  .header-word-background .header-background-word:nth-child(3) {
    top: 1%;
    left: 55%;
    display: none;
  }
  .header-word-background .header-background-word:nth-child(4) {
    top: 2.5%;
    right: 10%;
  }
  .header-word-background .header-background-word:nth-child(5) {
    top: 45%;
    right: 5%;
  }
  .header-word-background .header-background-word:nth-child(6) {
    display: none;
  }
  .home-header-button {
    margin: 15px 0px;
  }
  .header-video-container .header-video-title {
    font-size: 16px;
  }
  .popup-container {
    top: 150px;
  }
}
.footer-container {
  background: linear-gradient(#7E3195, #652877);
  background: #652877;
  border-top: 35px solid #d0bed6;
  box-shadow: 1px 2px 5px 4px rgba(0, 0, 0, 0.15);
}
.footer-content {
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
}
.footer-section-title {
  color: white;
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
.footer-section-item {
  color: white;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2px 0;
}
.footer-section {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;
  /* IE 10 */
}
.footer-section.footer-socials-section {
  text-align: center;
}
.footer-section.footer-socials-section .footer-social-icons-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 15px;
}
.footer-section.footer-socials-section .footer-social-icons-container .footer-social-item {
  margin: 0 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.footer-section.footer-socials-section .footer-social-icons-container .footer-social-item .footer-social-item-background {
  width: 55px;
  height: 49px;
}
.footer-section.footer-socials-section .footer-social-icons-container .footer-social-item .footer-social-icon {
  position: absolute;
  width: 18px;
  margin-left: 1px;
}
.footer-section.footer-copyright-section {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .footer-content {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-section {
    -webkit-flex-basis: 50%;
    /* Safari 6.1+ */
    flex-basis: 50%;
  }
  .footer-section.footer-socials-section {
    text-align: right;
  }
  .footer-section.footer-socials-section .footer-social-icons-container {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .footer-section.footer-socials-section .footer-social-icons-container .footer-social-item {
    margin: 0 0 0 15px;
  }
  .footer-section.footer-copyright-section {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .footer-section {
    -webkit-flex-basis: 100%;
    /* Safari 6.1+ */
    flex-basis: 100%;
  }
  .footer-section.footer-contact-section.footer-section {
    text-align: center;
  }
  .footer-section.footer-socials-section {
    text-align: center;
    margin: 30px 0;
  }
  .footer-section.footer-socials-section .footer-social-icons-container {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .footer-section.footer-socials-section .footer-social-icons-container .footer-social-item {
    margin: 0 15px;
  }
  .footer-section.footer-copyright-section {
    margin-top: 10px;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.section-title {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: #652877;
  font-size: 42px;
  font-weight: 700;
}
.section-title-white {
  color: white;
}
.section-subtitle {
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}
.paragraph-title {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 36px;
  font-weight: 700;
  color: #652877;
}
.paragraph {
  font-size: 20px;
}
.mini-paragraph-title {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 28px;
  font-weight: 700;
  color: #652877;
}
.mini-paragraph {
  font-size: 18px;
}
.subtle-section-title {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 36px;
  font-weight: 700;
  color: #652877;
}
.container-title {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 28px;
  font-weight: 700;
  color: #652877;
}
.text {
  font-size: 16px;
}
.text-bold {
  font-weight: 700;
}
.mini-paragraph-title-category-icons {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.category-icons-container {
  height: 20px;
  display: flex;
  margin-left: 10px;
  margin-top: 8px;
}
.category-icons-container img {
  width: 25px;
}
.the-day-legend-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.the-day-legend-container .the-day-legend-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 40px;
}
.the-day-legend-container .the-day-legend-item.think-better-legend-item .the-day-legend-text {
  color: #652877;
}
.the-day-legend-container .the-day-legend-item.feel-better-legend-item .the-day-legend-text {
  color: #59B947;
}
.the-day-legend-container .the-day-legend-item.act-better-legend-item .the-day-legend-text {
  color: #EF7B21;
}
.the-day-legend-container .the-day-legend-item .the-day-legend-icon {
  width: 25px;
  height: 25px;
}
.button {
  padding: 5px 15px;
  border-radius: 3px;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
.button.button-white {
  background: white;
}
.button.button-purple {
  background: #652877;
  color: white;
  border: none;
}
.button .button-text-purple {
  color: #652877;
}
.button .button-text-white {
  color: white;
}
.button:hover {
  cursor: pointer;
}
.button-white {
  background: white;
}
.circle-button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  max-height: 40px;
  margin: 0;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;
  /* IE 10 */
}
.circle-button .header-play-icon {
  margin-left: 4px;
}
.circle-button:focus {
  outline: none;
}
@media (max-width: 768px) {
  .button {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .button {
    padding: 3px 15px;
    font-size: 18px;
  }
}
.list {
  text-align: left;
  list-style-image: url('../img/bullet-point.svg');
  padding-left: 18px;
}
.list li {
  margin-bottom: 10px;
}
.list li:last-child {
  margin-bottom: 0px;
}
.double-list-container {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.double-list-container .list-container {
  -webkit-box-flex: 1 0 50%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1 0 50%;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1 0 50%;
  /* IE 10 */
}
.double-list-container .list-container:first-child {
  margin-right: 20px;
}
.double-list-container .list-container:last-child {
  margin-left: 20px;
}
.double-list-container .list-container li {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .double-list-container {
    width: 100%;
    margin-top: 50px;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .double-list-container .list-container {
    -webkit-box-flex: 1 0 100%;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1 0 100%;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1 0 100%;
    /* IE 10 */
  }
  .double-list-container .list-container:first-child {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .double-list-container .list-container:last-child {
    margin-left: 0px;
  }
}
.form-container {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 100px 60px;
  background: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.form-container .form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
.form-container .form-title {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 38px;
  color: #652877;
  font-weight: 700;
  margin-bottom: 40px;
}
.form-container .form-fields-container {
  width: 100%;
}
.form-container .form-input-container {
  width: 100%;
  padding: 10px 0;
}
.form-container .form-input-container .form-input {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 24px;
  font-weight: 700;
  padding: 2px 0px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #652877;
  color: #652877;
  resize: none;
}
.form-container .form-button-container {
  margin-top: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.form-leaning-icon-container {
  position: absolute;
  width: 200px;
  right: -200px;
  bottom: 0;
}
.form-response-container.container-title {
  min-height: 380px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
@media (max-width: 1280px) {
  .form-container {
    max-width: 500px;
    padding: 40px 60px 60px;
  }
}
@media (max-width: 992px) {
  .form-container {
    max-width: 400px;
    padding: 40px 60px 60px;
  }
  .form-leaning-icon-container {
    width: 150px;
    right: -150px;
  }
}
@media (max-width: 768px) {
  .form-container {
    padding: 40px 60px 60px;
  }
  .form-leaning-icon-container {
    display: none;
  }
}
@media (max-width: 480px) {
  .form-container {
    padding: 30px 40px 40px;
  }
  .form-container .form-title {
    margin-bottom: 20px;
  }
  .form-container .form-button-container {
    margin-top: 20px;
  }
}
.form-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #652877;
  font-weight: 700;
}
.form-input:-moz-placeholder {
  /* Firefox 18- */
  color: #652877;
  font-weight: 700;
}
.form-input::-moz-placeholder {
  color: #652877;
  font-weight: 700;
}
.form-input::-webkit-input-placeholder {
  color: #652877;
  font-weight: 700;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.better-points-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.better-points-container .better-points-item-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  padding: 0px 40px;
}
.better-points-container .better-points-item-container .better-points-item-icon-container {
  position: relative;
}
.better-points-container .better-points-item-container .better-points-item-icon-container .better-points-item-background {
  position: absolute;
  bottom: 0;
  width: 50px;
}
.better-points-container .better-points-item-container .better-points-item-title {
  padding: 15px 0 20px;
}
.think-better-point.better-points-item-container .better-points-item-icon-container .better-points-item-icon {
  width: 25px;
}
.think-better-point.better-points-item-container .better-points-item-icon-container .better-points-item-background {
  left: -14px;
}
.think-better-point .better-points-item-title {
  color: #652877;
}
.feel-better-point.better-points-item-container .better-points-item-icon-container .better-points-item-icon {
  width: 22px;
}
.feel-better-point.better-points-item-container .better-points-item-icon-container .better-points-item-background {
  left: -7px;
}
.feel-better-point .better-points-item-title {
  color: #59B947;
}
.act-better-point.better-points-item-container .better-points-item-icon-container .better-points-item-icon {
  width: 32px;
}
.act-better-point.better-points-item-container .better-points-item-icon-container .better-points-item-background {
  left: -12px;
  height: 60px;
}
.act-better-point .better-points-item-title {
  color: #EF7B21;
}
.services-outer-container {
  position: relative;
}
.services-container {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.services-container .service-item {
  -webkit-box-flex: 0 0 33.333%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 0 0 33.333%;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 0 0 33.333%;
  /* IE 10 */
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
.services-container .service-item .service-item-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 340px;
  height: 100%;
  background: white;
  margin: 0px 10px 60px;
  padding: 30px 30px 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}
.services-container .service-item .service-item-inner .service-item-title.container-title {
  min-height: 70px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.services-container .service-item .service-item-inner .service-item-subtitle {
  color: #652877;
  margin-top: 10px;
}
.services-container .service-item .service-item-inner .service-item-list-container {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;
  /* IE 10 */
}
.services-container .service-item .service-item-inner .service-item-list-container .service-item-list {
  margin: 30px 0px;
  padding: 0 0 0 20px;
}
.services-container .service-item .service-item-inner .service-item-list-container .service-item-list .service-item-list-item {
  color: #652877;
  margin-bottom: 10px;
}
.services-container .service-item .service-item-inner .service-item-button-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.services-container .service-item:last-child .service-item-inner {
  margin-bottom: 2px;
}
.service-item-icon-container .workshop-item-icon {
  width: 65px !important;
  min-height: 80px;
  margin: 0 auto;
}
.service-item-icon-container .coaching-item-icon {
  width: 65px !important;
  min-height: 80px;
  margin: 0 auto;
}
.service-item-icon-container .therapy-item-icon {
  width: 80px !important;
  min-height: 80px;
  margin: 0 auto;
}
.services-arrow-icon-container {
  position: absolute;
  bottom: 300px;
  left: 80px;
  max-width: calc(33% - 80px);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.services-arrow-icon-container .services-arrow-icon {
  width: 100px;
  margin-top: 30px;
}
.services-leaning-icon-container {
  position: absolute;
  width: 200px;
  bottom: 0;
  right: calc(50% - 170px - 200px);
}
@media (max-width: 1280px) {
  .services-arrow-icon-container,
  .services-leaning-icon-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .services-container .service-item {
    -webkit-box-flex: 0 0 100%;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 0 0 100%;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 0 0 100%;
    /* IE 10 */
  }
  .service-item-icon-container .workshop-item-icon {
    width: 25px;
    min-height: 20px;
  }
  .service-item-icon-container .coaching-item-icon {
    width: 65px;
    min-height: 80px;
  }
  .service-item-icon-container .therapy-item-icon {
    width: 80px;
    min-height: 80px;
  }
}
.event-container.owl-theme .owl-dots .owl-dot.active span {
  background: #ffffff;
}
.event-card-container {
  position: relative;
  max-width: 800px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 5px;
  color: #652877;
  margin: 0 auto;
  border: 5px solid #d0bed6;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}
.event-card-container .event-card-time-place-container-desktop {
  width: 30%;
  padding: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-right: 4px solid #d0bed6;
}
.event-card-container .event-card-time-place-container-desktop .event-card-time {
  font-size: 36px;
  -webkit-box-flex: 1 0 auto;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1 0 auto;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1 0 auto;
  /* IE 10 */
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.event-card-container .event-card-details {
  width: 70%;
  padding: 25px;
}
.event-card-container .event-card-details .event-card-title {
  width: calc(100% - 90px);
}
.event-card-subtitle {
  margin: 5px 0 10px 0;
}
.event-card-list {
  display: flex;
  flex-wrap: wrap;
}
.event-card-list .event-card-list-item {
  -webkit-box-flex: 0 0 50%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 0 0 50%;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 0 0 50%;
  /* IE 10 */
  margin: 5px 0px;
  box-sizing: border-box;
}
.event-card-list .event-card-list-item:nth-child(odd) {
  padding-right: 5px;
}
.event-card-list .event-card-list-item:nth-child(even) {
  padding-left: 5px;
}
.event-price {
  position: absolute;
  top: 8px;
  right: 10px;
  text-align: right;
}
.event-price .price-text {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: 700;
  font-size: 20px;
}
.event-price .discount-text {
  font-size: 12px;
}
.event-card-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.event-card-time-place-container-mobile {
  display: none;
}
@media (max-width: 768px) {
  .event-card-container {
    max-width: 400px;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .event-card-container .event-card-time-place-container-desktop {
    border-right: none;
    border-bottom: 5px solid #d0bed6;
    width: 100%;
    display: none;
  }
  .event-card-container .event-card-details {
    width: 100%;
  }
  .event-card-container .event-card-details .event-card-title {
    width: 100%;
  }
  .event-card-container .event-price {
    text-align: left;
    bottom: 10px;
    left: 10px;
    top: unset;
    right: unset;
  }
  .event-card-container .event-card-list .event-card-list-item {
    -webkit-box-flex: 0 0 100%;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 0 0 100%;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 0 0 100%;
    /* IE 10 */
  }
  .event-card-container .event-card-list .event-card-list-item:nth-child(odd) {
    padding-right: 0px;
  }
  .event-card-container .event-card-list .event-card-list-item:nth-child(even) {
    padding-left: 0px;
  }
  .event-card-time-place-container-mobile {
    display: block;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #d0bed6;
  }
}
.blog-card-container {
  max-width: 760px;
  margin: 0 auto 40px;
  background: white;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  border: 5px solid #d0bed6;
}
.blog-card-container:last-child {
  margin-bottom: 0px;
}
.blog-card-container .blog-card-snippet-container {
  margin: 10px 0px 20px 0px;
  color: #652877;
}
.blog-card-container .blog-card-button-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.blog-cards-view-all-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 40px 0 20px 0;
}
@media (max-width: 768px) {
  .blog-card-container:last-child {
    display: none;
  }
}
.picture-paragraph-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.picture-paragraph-container .picture-container {
  width: 250px;
  height: 250px;
  border: 20px solid #d0bed6;
  border-radius: 50%;
  margin-left: 25px;
  -webkit-box-flex: 1 0 auto;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1 0 auto;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1 0 auto;
  /* IE 10 */
}
.picture-paragraph-container .picture-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .picture-paragraph-container {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .picture-paragraph-container .picture-container {
    margin: 35px auto 0;
  }
}
.contact-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
}
.contact-container .contact-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;
  /* IE 10 */
  text-align: center;
}
.contact-container .contact-item .contact-item-icon-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 42px;
  min-height: 79px;
}
.contact-container .contact-item .contact-item-icon-container .contact-item-icon {
  width: 100%;
}
.contact-container .contact-item .contact-item-desc {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: #652877;
  font-size: 24px;
  margin: 10px 0px 0px;
}
.contact-container .contact-item a {
  text-decoration: none;
}
.contact-item.email-item .contact-item-icon-container .contact-item-icon {
  width: 54px;
}
.contact-item.location-item .contact-item-icon-container .contact-item-icon {
  width: 50px;
}
@media (max-width: 768px) {
  .contact-container {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .contact-container .contact-item {
    margin: 25px 0;
  }
}
/* These are the conditional mixins for the different syntax for IE10 Flexbox*/
.amatic-font {
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.open-sans-font {
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
